.body {
  perspective: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EFEFEF;
}
.halfpage {
  width: 50vw;
  height: 95vh;
  background-color: black;
  color: #FFF;
  background-image: url("../public/images/workers.jpg");
  background-size:contain;
  background-repeat: no-repeat;
}
.textContainer {
  position: relative;
  top: 25%;
  left: 25%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 36px;
}
.icon {
  width: 1.25vw;
  height: 2vw;
}
.pContainer {
  max-width: 24vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.jailogo {
  position: relative;
  width: 5vw;
  height: 5vw;
  top: -1vh;
  background-image: url("../public/images/logo.png");
  background-size:contain;
  background-repeat: no-repeat;
}
.main {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  transform-origin: 25% 50%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  
  /* &.flip {
    transform: translate(0, -50%) rotateY(180deg);
  } */
}

.hgroup {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.hgroup h2 {
font-weight: 500;
line-height: 40px;
}

.form, .section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  backface-visibility: hidden;
}

.form {
  transform: rotateY(0);
}

.section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateY(180deg);
}
.section h2 {
color: #39D1B4;
}

.fieldset {
  width: 250px;
  border: 0px;
  font-weight: 500;
}

.input {
  transition: all 0.2s ease-in-out;
  width: 250px;
  height: fit-content;
  min-height: 25px;
  font-weight: 600;
  margin: 10px;
  border-radius: 5px;
  resize: none;

}
.input::placeholder {
color: #FFF;
font-weight: 300;
opacity: .7;
}

/* .input:focus,
.input:valid {
} */

.button {
  width: 250px;
  height: 45px;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  background-color: #F21137;
  box-shadow: 0 0 5px black;
  color: white;
  font-weight: 500;
}

.button:hover {
  background-color: #b90000;
}

.switchContainer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  bottom: 10vh;
  right: 0vw;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  margin: 1vw;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #EFEFEF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F21137;
}

input:focus + .slider {
  box-shadow: 0 0 2px #F21137;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width:980px) {
.halfpage {
  display: none;
}
.main {
  top: 40%;
  left: 50%;
}
.jailogo {
  display: none;
}
.switchContainer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  /* bottom: 65vh;
  right: 10vw; */
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;

  margin: 1vw;
}
.slider:before {
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #EFEFEF;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.input {
  transition: all 0.2s ease-in-out;
  width: 250px;
  height: fit-content;
  min-height: 25px;
  max-height: 50px;
  font-weight: 600;
  margin: 10px;
  border-radius: 5px;
  resize: none;
}

}